.salad {
    width: 90%;
    height: 7%;
    background: linear-gradient(#228c1d, #91ce50);
    margin: 2% auto;
    border-radius: 20px;
}

.bacon {
    width: 80%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
}

.cheese {
    width: 91%;
    height: 4.5%;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
    margin: 2% auto;
}

.meat {
    width: 82%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    border-radius: 15px;
    margin: 2% auto;
}