.user {
    border: 1px dotted rgb(192, 187, 187);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user .user__avt {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
}